@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="EmployeeGrid" asp-action="Index">Click here to use Employee Grid</a></p>
</div>

